.boxButton {
    display: flex;
}

#select:hover{
    cursor: pointer;
}

#select option:hover{
    cursor: pointer;
}

#boxColors{
    display: flex;
}



.color,
.colortest {
    width: 50px;
    height: 20px;
    margin-left: 10px;
}

.divDetails{
    width: 200px;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#popup{
    position: fixed;
    width: 50%;
    background-color: gray;
    color: wheat;
    text-align: center;
    opacity: 1;
    border: 1px solid red;
    border-radius: 20px;
    z-index: 999;
    display: none;
}
