.boxButton {
    display: flex;
}

#select:hover{
    cursor: pointer;
}

#select option:hover{
    cursor: pointer;
}

#boxColors{
    display: flex;
}



.color,
.colortest {
    width: 50px;
    height: 20px;
    margin-left: 10px;
}
